@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

body {
    margin: 0 20px;
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.23rem) * 0.9615)), 1.5rem);
    line-height: 1.6;
    font-family: 'DM Serif Display', serif;
    height: 100vh;
}

.index_bg {
    background: url(assets/index_pantry.jpeg), lightgray 50% / cover no-repeat;
}

.fridge_bg {
    background: url(assets/fridge1.jpg), lightgray 100% / cover no-repeat;

}

.date_bg {
    background: url(assets/expiring.jpg), lightgray 50% / cover no-repeat;
}

.ingredient_bg {
    background-image: url(assets/protein.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.shopping_bg {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-top: 2rem;
    display: flex;
    justify-content: center;

    >li {
        padding: 0 2rem;
        background-color: rgba(94, 86, 82, 0.80);
        border-radius: 7rem;
        text-align: center;
    }
}

button {
    border: none;
    cursor: pointer;
}

input {
    color: rgb(78, 94, 68);
    font-size: 1.1rem;
}

input:focus {
    outline: 2px solid rgb(126, 121, 96)
}

input::placeholder {
    color: rgb(78, 94, 68);
}

.wrapper_button {
    width: 400px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.wrapper_button select {
    background: white;
    border: 2px solid white;
    border-radius: 7rem;
    padding: 1rem 2rem;
    width: 70%;
}

.wrapper_button button {
    background: white;
    border: none;
    color: brown;
    border-radius: 7rem;
    padding: 1rem 2rem;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.wrapper_button button:hover {
    background: rgb(87, 63, 63);
    cursor: pointer;
}

.recipe_container {
    display: flex;
    gap: 40px;
    background-color: rgba(159, 193, 213, 0.6);
    padding: 20px;
}

h1 {
    display: flex;
    background-color: rgba(159, 193, 213, 0.6);
    padding: 20px;
    font-size: rem;
}

.recipe_wrapper,
.shopping_list_wrapper {
    flex: 1;
}

.recipe_wrapper h2,
.shopping_list_wrapper h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

.ingredients {
    list-style-type: none;
    padding: 0;
}

.ingredients li {
    margin-bottom: 5px;
}


.or_navigation {
    background-color: #b7b7a5;
    margin: 0;
    padding: 0 7rem;
    border-radius: 7rem;
    color: whitesmoke;
}

.recipe_button {
    background-color: rgba(71, 115, 74, 0.9);
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0 7rem;
    border-radius: 7rem;
    width: 80vw;
    color: whitesmoke;
}

.main_button {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh auto auto auto;
    width: 40%;
}

.main_button li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(94, 86, 82, 0.80);
    border-radius: 2rem;
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border-style: solid;
    border-color: #b7b7a5;
}

.main_button li:hover {
    cursor: pointer;
    transition: background-color 0.2s, font-weight 0.2s;
    background-color: #b7b7a5;
    font-weight: bold;
}

.main-page:hover {
    cursor: pointer;
    transition: background-color 0.2s, font-weight 0.2s;
    background-color: #b7b7a5;
    font-weight: bold;
}

.wrapper {
    margin: 3vh auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.pantry-container, .fridge-container, .freezer-container {
    margin: 0 auto;
    border-radius: 1rem;
    padding: 0 3rem;
}

.data-table tr td:nth-child(2) {
    background: rgba(169, 115, 87, 0.9);
}

.data-table tr td:nth-child(1) {
    background: rgba(159, 193, 213, 0.9);
}

.data-table tr td:nth-child(3) {
    background: rgba(159, 193, 213, 0.9);
}


td {
    text-align: center;
    white-space: nowrap;
}

.first_col {
    padding-right: 30px;
}

.prompt {
    display: block;
    margin-top: 20px;
    width: 100%;
    background-color: #b7b7a5;
    border-radius: 7rem;
    color: black;
    padding: 1rem;
    text-align: center
}

img.logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 20%;
    height: auto;
}

#StockForm {
    max-width: 400px;
    margin: 1rem auto;
    padding: 20px;
    background-color: #b7b7a5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#alterStock {
    background: url(assets/index_pantry.jpeg), lightgray 50% / cover no-repeat;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, input {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgba(169, 115, 87, 0.9);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    transition: background-color 0.2s, font-weight 0.2s;
    font-weight: bold;
}

.prompt {
    display: block;
    margin-top: 20px;
    width: 100%;
    background-color: rgba(169, 115, 87, 0.9);
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.wrapper_button {
    display: flex;
    gap: 10px;
}

.recipe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b7b7a5;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border-style: solid;
    border-color: #b7b7a5;
}

.recipe:hover {
    cursor: pointer;
    transition: background-color 0.2s, font-weight 0.2s;
    background-color: rgba(169, 115, 87, 0.9);
    font-weight: bold;
}

.home_button {
    align-items: center;
    justify-content: center;
    background-color: #b7b7a5;
    border-radius: 2rem;
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 50%;
    height: 50px;
    border-style: solid;
    border-color: #b7b7a5;
}

.home_button:hover {
    cursor: pointer;
    transition: background-color 0.2s, font-weight 0.2s;
    background-color: rgba(169, 115, 87, 0.9);
    font-weight: bold;
}

.shopping_list{
    background-color: rgba(169, 115, 87, 0.9);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
