<!DOCTYPE html>
<html lang="en">
<!-- meta data -->

<head>
    <title>Smart Pantry</title>
    <!-- <link rel="icon" type="text/png" href="favicon-32x32.png"> -->
    <link rel="stylesheet" href="static/style.css"/>
</head>

<body class="index_bg">
<nav>
    <ul>
        <li><a href='/kitchen' class='kitchen-title-link'>Inside My Kitchen</a></li>
    </ul>
</nav>
<br>
<img class="logo" src="/static/assets/logo.jpg" alt="logo">

<ul class="main_button">
    <li id="primary"><a class="main-page" href='/ingredient'>Random Recipe</a></li>
    <li id="secondary"><a class="main-page" href='/shopping'>Shopping List</a></li>
    <li id="search_button"><a class="main-page" href='/search_recipe'>Generate Recipes</a></li>
    <li id="out_of_date_button"><a class="main-page" href='/out_of_date_ingredients'>Expiring Ingredients</a></li>
</ul>

</body>

</html>