<!DOCTYPE html>
<html lang="en">
<!-- meta data -->

<head>
    <title>Smart Pantry</title>
    <!-- <link rel="icon" type="text/png" href="favicon-32x32.png"> -->
    <link rel="stylesheet" href="static/style.css"/>
</head>

<body class="index_bg">
<nav class="navigation">
    <ul>
        <li><a href='/freezer'>Open my freezer</a></li>
        <li><a href='/fridge'>Open my fridge</a></li>
        <li><a href='/pantry'>Open my pantry</a></li>
    </ul>
</nav>

<ul class="main_button">
    <li id="primary"><a href='/recipe'>Generate a recipe</a></li>
    <li id="secondary"><a href='/shopping'>Shopping list</a></li>
</ul>

</body>

</html>