<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart Pantry</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body class="index_bg">
    <img class="logo" src="/static/assets/logo.jpg" alt="logo" />

    <ul class="main_button">
      <li>
        <a href="/kitchen">Inside My Kitchen</a>
      </li>
      <li>
        <a href="/ingredient">Random Recipe</a>
      </li>
      <li>
        <a href="/shopping">Items low in quantity</a>
      </li>
      <li>
        <a href="/search_recipe">Generate Recipes</a>
      </li>
      <li>
        <a href="/out_of_date_ingredients">Expiring Ingredients</a>
      </li>
    </ul>
  </body>
</html>
