<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart Pantry</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body class="fridge_bg">
    <div class='recipe_button'><a href='/ingredient'>Choose A Random Recipe</a></div>
    <div class="wrapper">
      <div id="kitchenSection">
      <table class="data-table">
        <thead>
          <tr>
            <th class="or_navigation">Inside My Fridge</th>
            <th class="or_navigation">Inside My Pantry</th>
            <th class="or_navigation">Inside My Freezer</th>
          </tr>
        </thead>
        <tbody>
          {% set max_length = [fridge|length, pantry|length, freezer|length]|max %}
          {% for i in range(max_length) %}
            <tr>
              {% for storage in [fridge, pantry, freezer] %}
              <td class="fridge-container">
                {% if i < storage|length %}
                  <div class="item-row">
                    <span class="item">{{ storage[i][0] }}</span>
                    <span class="item">{{ storage[i][1] }}</span>
                    {% if storage[i]|length > 2 %}<span class="item">{{ storage[i][2] }}</span>{% endif %}
                  </div>
                {% endif %}
              </td>
              {% endfor %}
             </tr>
          {% endfor %}
        </tbody>
      </table>


        <li> <a href='/add_stock' class='kitchen-title-link'>Add stock</a></li>
        <li> <a href='/update_stock' class='kitchen-title-link'>Update stock</a></li>
        <li> <a href='/delete_stock' class='kitchen-title-link'>Delete stock</a></li>
  </body>
</html>
