<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart Pantry</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body class="fridge_bg">
    <div class='recipe_button'><a href='/ingredient'>Help me choose a recipe</a></div>
    <div class="wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th class="or_navigation">What's in my fridge</th>
            <th class="or_navigation">What's in my pantry</th>
            <th class="or_navigation">What's in my freezer</th>
          </tr>
        </thead>
        <tbody>
          {% set max_length = [fridge|length, pantry|length, freezer|length]|max %}
          {% for i in range(max_length) %}
            <tr>
              <td class="fridge-container">
                {% if i < fridge|length %}
                  <div class="item-row">
                    <span class="item">{{ fridge[i][0] }}</span>
                    <span class="item">{{ fridge[i][1] }}</span>
                    {% if fridge[i]|length > 2 %}<span class="item">{{ fridge[i][2] }}</span>{% endif %}
                  </div>
                {% endif %}
              </td>
              <td class="pantry-container">
                {% if i < pantry|length %}
                  <div class="item-row">
                    <span class="item">{{ pantry[i][0] }}</span>
                    <span class="item">{{ pantry[i][1] }}</span>
                    {% if pantry[i]|length > 2 %}<span class="item">{{ pantry[i][2] }}</span>{% endif %}
                  </div>
                {% endif %}
              </td>
              <td class="freezer-container">
                {% if i < freezer|length %}
                  <div class="item-row">
                    <span class="item">{{ freezer[i][0] }}</span>
                    <span class="item">{{ freezer[i][1] }}</span>
                    {% if freezer[i]|length > 2 %}<span class="item">{{ freezer[i][2] }}</span>{% endif %}
                  </div>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class='prompt'>Would you like to add stock to your stock? </div>
    </div>
  </body>
</html>
