<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Out Of Date Ingredients</title>
</head>
<body>
    <h2>Out of Date Ingredients</h2>
    <ul>
        {% for ingredient in out_of_date %}
            <li style="text-decoration: line-through;">{{ ingredient.ingredientname }} - {{ ingredient.quantity }} - {{ ingredient.sellbydate }}</li>
        {% endfor %}
    </ul>

    <h2>Expiring Ingredients</h2>
    <ul>
        {% for ingredient in expiring_data %}
            <li>{{ ingredient.ingredientname }} - {{ ingredient.quantity }} - {{ ingredient.sellbydate }}</li>
        {% endfor %}
    </ul>
</body>
</html>