<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body class="shopping_bg">
    <div class="recipe_button"><a href="/">Home</a></div>
    <div class="recipe_button"><a href="/kitchen">What's in my kitchen</a></div>
    <h1>You may want to stock up on the below products before you run out:</h1>

    <ul class="list">
      {% for line in line %}
      <li><input type="checkbox" /> {{line}}</li>
      {% endfor %}
      <br />
      <button>
        <a
          href=" {{url_for('file_downloads')}}"
          download="list_of_low_stock.txt"
          >Download</a
        >
      </button>
    </ul>
  </body>
</html>
